<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FullTextServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://4.7.2.umbraco.local/umbraco/webservices/fulltextservice.asmx" binding="basicHttpBinding" bindingConfiguration="FullTextServiceSoap" contract="FullTextService.FullTextServiceSoap" name="FullTextServiceSoap"/>
        </client>
    </system.serviceModel>
    <appSettings>
        <add key="username" value="admin"/>
        <add key="password" value="password"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
