#Ignore files build by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
Governor.Umbraco.FullTextSearch.Console/bin/
Governor.Umbraco.FullTextSearch.dll
Governor.Umbraco.FullTextSearch.UI.dll
Governor.Umbraco.FullTextSearch.Installer.dll
Governor.Umbraco.FullTextSearch.WebService.dll
