<?xml version="1.0" encoding="utf-8" ?>
<FullTextSearch>
    <!-- Enable Full Text Indexing/Search -->
    <Enabled>false</Enabled>
    <!-- Indexing Options-->
    <!-- 
        This setting controls when pages are actually rendered to HTML and stored/indexed
        
        This defaults to false. Rendering will be performed at indexing time. 
        
        Set this to true to render nodes to HTML on umbraco publishing events and store in a 
        database cache for indexing, rather than attempt to read the nodes at indexing 
        time(which can be less reliable).
        The advantage of rendering at indexing time is that publishing will be quicker, 
        and you won't have to republish the entire site before the index is created 
        properly.
        Possible values:
            true - Render HTML at publishing time
                Note: Indexing must be set to run async in ExamineSettings.config if you set this to true
            
            false - Render HTML at indexing time (default)
        
        Note that if you're overriding renderers from your own code 
        this affects whether or not your renderer can use the umbraco NodeFactory API
    -->
    <PublishEventRendering>false</PublishEventRendering>

    <!--
        This controls which renderer is used to render nodes to HTML
            Program - Renders nodes using a modified version of umbraco's 
                      RenderTemplate functionality. 
                      Only works if PublishEventRendering is set to true
            HTTP - Render nodes using HttpWebRequests (default)
    -->
    <DefaultRenderer>HTTP</DefaultRenderer>
    <!-- 
        Needed for HTTP Rendering, determines 
        URL of the default.aspx page on your host. I recommend you use
        127.0.0.1 and set the host header below to your domain to avoid 
        problems with name resolution, firewalls, etc. 
    -->
    <HttpUrl>http://127.0.0.1/default.aspx</HttpUrl>
    <!-- Domain name of your site e.g. www.yoursite.com -->
    <HttpHost></HttpHost>
    <!-- Indexing request timout in seconds -->
    <HttpTimeout>120</HttpTimeout>
    <!-- The name of the Search Provider set up in ExamineSettings.config-->
    <SearchProvider>FullTextSearcher</SearchProvider>
    <!-- The name of the Index Provider set up in ExamineSettings.config-->
    <IndexProvider>FullTextIndexer</IndexProvider>
    <!--
        Full text indexing will be disabled for these node types.
        Note that full text indexing is not run for nodes without
        a template anyway. 
        To disable all indexing for a given node type use ExcludeNodeTypes
        in ExamineIndex.config
    -->
    <NoFullTextNodeTypes>
        <add name="searchPage" />
    </NoFullTextNodeTypes>

    <!-- 
        Setting any of the properties under here to true for a given
        Node will disable All indexing on that page.
    -->
    <DisableSearchPropertyNames>
        <add name="umbracoSearchHide" />
    </DisableSearchPropertyNames>
    <!--
        This string is passed to every page index<hed 
        by the indexer in the query string, or as a cookie
        depending on the rendering method selected.
        e.g. http://yoursite.com/page.aspx?FullTextActive=1
        The intention of this is for you to use the supplied
        XSLT helper function fulltextsearch.search:IsIndexingActive
        which returns true if this parameter is specified in 
        the query string or by cookie.
    -->
    <SearchActiveStringName>FullTextActive</SearchActiveStringName>
    
    <!-- Cutomise HTML Tag Stripper here -->
    <TagsToRemove>
        <add name="script" />
        <add name="head" />
    </TagsToRemove>
    <IdsToRemove>
        <add name="mainNavigation" />
    </IdsToRemove>

    <!-- Override default IIS timeout on publishing requests, value in seconds -->
    <ScriptTimeout>1200</ScriptTimeout>

   
    <!-- Name of the full text index in lucene, don't change unless you need to -->
    <LuceneFTField>FullTextSearch</LuceneFTField>
    
    <!-- 
        The query generated for Lucene boosts the relevance of the title properties, 
        if specified. This controls by how much.
    -->
    <SearchTitleBoost>10.0</SearchTitleBoost>
    <!--
        By default the Search XSLT Helper returns all fields from the
        index for users to modify. Set to false to return only summary fields. 
    -->
    <ReturnAllFieldsInXSLT>true</ReturnAllFieldsInXSLT>
</FullTextSearch>