/* Default styles for FullTextSearch */

.fulltextsearch { 
  margin:0; 
  padding: 0.5em 0;
}
/* search box */
.fulltextsearch_form { 
  margin:0; 
  padding:0;
}

.fulltextsearch_searchbox { 
  width: 15em; 
  margin: 0 5px 0 0;
}
.fulltextsearch_searchbutton {
    margin: 0 0 0 1.5em;
}
/* Pagination */
.fulltextsearch_pagination { 
  position: relative; 
  margin:0; 
  padding: 0.6em 0 1.6em 0;
}

.fulltextsearch_pagination_ul {
  list-style: none; 
  margin:0;
  padding:0; 
  display:block;
  text-align: center;
}

.fulltextsearch_pagination_ul li {
  display: inline;
  padding: 0 0.3em;
}
.fulltextsearch_previous_inactive a, .fulltextsearch_next_inactive a {
  color: #aaaaaa;
  text-decoration: none;
}
.fulltextsearch_previous_inactive a:hover, .fulltextsearch_next_inactive a:hover {
  color: #aaaaaa;
  text-decoration: none;
}
.fulltextsearch_thispage {
  font-weight: bold;
}
/* container spacing */
.fulltextsearch_results, .fulltextsearch_error {
  padding: 0.5em 0 1em 0;
}
/* results */
.fulltextsearch_result {
  margin: 0.2em 0;
  padding: 0.3em 0;
}
.fulltextsearch_result:hover {
  background-color: #f2f2f2;
}
.fulltextsearch_title {
  margin: 0.2em 0 0.7em 0;
  padding: 0;
}
.fulltextsearch_titlelink {
  font-size: 1.2em;
  text-decoration: underline !important;
}
.fulltextsearch_titlelink strong {
  font-weight: bold;
  text-decoration: underline !important;
}
.fulltextsearch_result strong {
 background-color: #fdfddb;
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
